body {
    font-family: 'Helvetica Neue',
        Helvetica,
        Arial,
        sans-serif;

    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px
}

h1,
h2,
h3 {
    line-height: 1.2
}

.portrait {
    width: 256px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.portrait img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

$nice-blue: #6cc0e5;
$nice-yellow: #fbc93d;
$nice-red: #fb4f4f;

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: $nice-blue;
}
