$dark: #444;
// Source: https://www.reddit.com/r/Design/comments/rtojy/favourite_colours_to_use_when_i_am_designing/
$nice-blue: #6cc0e5;
$nice-yellow: #fbc93d;
$nice-red: #fb4f4f;

body {
    font-family: 'Helvetica Neue',
        Helvetica,
        Arial,
        sans-serif;

    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: $dark;
    padding: 0 10px
}

h1,
h2,
h3 {
    line-height: 1.2
}

.portrait {
    width: 256px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.portrait img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

ul {
    list-style-type: none;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: $dark;
}


.active {
    text-decoration: underline;
}

.social-media {
    margin-left: 15px;
}

.icon-link {
    display: inline-flex;
    align-items: center;
    font-size: 16px;

    >.label {
        padding-top: 4px;
        padding-bottom: 2px;
        border-bottom: 2px solid transparent;
        transition: border-color .2s;
    }

    >.icon {
        width: 1.333em;
        height: 1.333em;
        margin-right: 6px;
    }

}
