<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="description" title="{{config.description}}">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{{assets.style}}" />
  <title>{{title}}</title>
</head>
<body>
  <nav>
    <ul>
      {{#nav}}
        <li>
          <a  {{#is_active}}class="active"{{/is_active}} href="{{path}}" title="{{title}}">{{title}}</a>
        </li>
      {{/nav}}
    </ul>
  </nav>
  <main>
    {{{content}}}
  </main>
  <footer>
    &copy; {{year}} Jan Nils Ferner <br />

    <a href="https://github.com/jnferner/homepage/edit/master/{{page_file}}">Improve this page</a>
  </footer>
</body>
</html>
