<h1>About me</h1>

<div class="portrait">
<img src="https://avatars2.githubusercontent.com/u/9047632" alt="Portrait of Jan Nils Ferner" />
</div>

Jan Nils Ferner is a Senior Software Engineer, Author, Scrum Master and active contributor of the Open Source community.
Over the years, he has acquired a deep understanding of systems programming through languages such as C++ and Rust by
modernizing and refactoring big and complex codebases.

His passions include all things AI and Blockchain.
In his free time, he researches innovative approaches to bring biology and technology closer together in this regard,
which has lead him to develop his own Machine Learning Framework.

You can follow his projects on GitHub at https://github.com/jnferner
