<h1>Contact information</h1>

For any business offers, questions or plain old chitchat, send me a mail 
at <a href="mailto:jn_ferner@hotmail.de">jn_ferner@hotmail.de</a>.
<br />

{{#additional.social_media}}
<span class="social-media">
<a class="icon-link" href="{{link}}">
    <svg xmlns="http://www.w3.org/2000/svg" class="icon">
        <use xlink:href="{{icon}}#icon"></use>
    </svg>

    <span class="label">{{name}}</span>
</a>
</span>
{{/additional.social_media}}