<h1>About me</h1>

<div class="portrait">
<img src="{{additional.portrait-url}}?s=256" 
     srcset="{{additional.portrait-url}}?s=256 1x, {{additional.portrait-url}}?s=512 2x" 
     alt="Portrait of Jan Nils Ferner" />
</div>

Jan Nils Ferner is a Senior Software Engineer, Author, Scrum Master and active contributor of the Open Source community.
Over the years, he has acquired a deep understanding of systems programming through languages such as C++ and Rust by
modernizing and refactoring big and complex codebases.

His passions include all things AI and Blockchain.
In his free time, he researches innovative approaches to bring biology and technology closer together in this regard,
which has lead him to develop his own Machine Learning Framework.

<br />
{{#additional.social_media}}
<span class="social-media">
<a class="icon-link" href="{{link}}">
    <svg xmlns="http://www.w3.org/2000/svg" class="icon">
        <use xlink:href="{{icon}}#icon"></use>
    </svg>

    <span class="label">{{name}}</span>
</a>
</span>
{{/additional.social_media}}